body{
    margin: 0px;
    padding: 0px;
    background: url(/img/bg.jpg) no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#content{
    position: relative;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 15%;
}

h1{
    color: whitesmoke;
    font-weight: 200;
    font-size: 50px;
    margin: 0px;
}

nav{
    position: relative;
    padding: 20px;
    margin: 0px;
    width: 97%;
}

#menu-big{
    position: relative;
    float: right;
}

#li-big{
    float: left;
    margin-left: 100px;
    list-style-type: none;
}

#li-big a{
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 30px;
}

#li-big a:hover{
    color: lightgray;
}

.menu-small{
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    opacity: 0.0;
    transition: all 400ms ease-out;
}

#li-small{
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
    padding: 0px;
}

#li-small:nth-child(1){
    padding-top: 40px;
}

#li-small a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
}

#toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    visibility: hidden;
}

#one, #two, #three{
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
    right: 0px;
    transition: all 300ms ease-out;
}

#one{
    top: 0px;
}

#two{
    top: 10px;
}

#three{
    top: 20px;
}

.visible{
    opacity: 1.0;
}

.hidden{
    opacity: 0.0;
}

.one45deg{
    transform: rotate(45deg) translateX(3px) translateY(4px);
    
}

.three-45deg{
    transform: rotate(-45deg) translateX(9px) translateY(-10px);
}


@media(max-width: 768px){
    .menu-small{
        visibility: visible;
    }

    #menu-big{
        visibility: hidden;
        margin-top: -500px;
    }

    #toggle{
        visibility: visible;
    }

    nav{
        width: 100%;
        padding: 0px;
    }

    #content{
        width: 250px;
    }
}